html {
    scroll-behavior: smooth;
}

* {
    color: white;
    background-color: #202020;
    overflow-wrap: break-word !important;
}

#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}

button {
    border: none !important;
}

#messageWrapper {
    margin: 60px 0 0 250px;
    padding: 0 30px;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}