html {
    scroll-behavior: smooth;
}

* {
    color: white;
    background-color: #202020;
    overflow-wrap: break-word !important;
}

#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}

button {
    border: none !important;
}

#messageWrapper {
    padding-bottom: 2rem;
    overflow-y: scroll;
    height: 100vh;
}