#menuBar
    background-color: white
    margin-right: auto
    margin-left: auto
    position: fixed
    bottom: 0

.menuIcons
    opacity: 50%
    height: 30px
    width: 30px
    fill: #4A8D96
    background-color: var(--main-background)
    margin: 5px

.activeMenuIcon
    opacity: 100% !important
    fill: #0f8392
