#messageWrapper {
    padding-bottom: 20px;
    overflow-y: scroll;
    height: 100vh;
}

#messages {
    overflow-y: scroll;
    white-space: nowrap;
    margin-bottom: 3rem;
}

.message {
    width: max-content;
    max-width: 600px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.messageFromMe {
    background-color: #BBD9DD;
}

.messageToMe {
    background-color: #76B4BC;
}

@media screen and (max-width: 57680px) {
    .message {
        max-width: 250px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 680px) {
    .message {
        max-width: 350px;
    }
}

@media screen and (min-width: 680px) {
    #messageWrapper {
        padding-top: 50px;
    }
}

#messagesTopMenu {
    position: fixed;
    top: 0px;
    background-color: var(--secondary-background);
    padding: 10px;
    z-index: 10;
}

#messagesTopMenu>* {
    background-color: var(--secondary-background);
}

/* The positioning of this info button need to be fixed so that
    If the name of the conversation in the top menu is really long
    it doesnt fuck with the buttons placement    
*/
#messageInfoButton {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background-color: var(--secondary-background);
}

#messageInfoButton:hover {
    cursor: pointer;
}

.backButton {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    background-color: var(--secondary-background);
    position: relative;
    right: 1px;
    bottom: 1px;
}

.backButton:hover {
    cursor: pointer;
}

#conversationName {
    margin-right: auto;
    margin-left: auto;
    float: left;
}



span {
    background-color: #D6CF85;
}

/* Message Context menu */
#contextMenu {}

.deleteMessageButton {
    fill: var(--light);
    background-color: rgb(48, 48, 48);
}

.deleteMessageButton:hover {
    fill: var(--danger);
}