#userSearch,
#userSearch:focus {
    background-color: #202020;
    border: none !important;
}


.convoBox,
.convoBox:hover {
    border-top: 1px solid grey !important;
    padding: 1rem;
    padding-left: 0;
    cursor: pointer;
}

#messageBox {
    border-left: 1px solid grey !important;
    height: 100vh;
}

#bottomOfConvos {
    border-top: 1px solid grey !important;
    position: relative;
    right: 15px;
    width: 130%
}

.convoBox:hover {
    background-color: #404040;
}

#selected {
    background-color: var(--primary);
}

#searchConversationsInput {
    padding: 5px;
    padding-left: 20px;
    width: 100%;
    border: none;
    border-radius: 25px;
    border: 1px solid grey;
    margin: 15px 5px;
}

#searchConversationsInput:focus {
    outline: none !important;
    box-shadow: 0 0 5px 1px var(--light);
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

#backButton {
    margin-top: 10px;
    height: 35px;
    width: 35px;
    background-color: var(--danger);
    border-radius: 50px;
}

#chatBox {
    position: fixed;
    bottom: 0;
    padding: 1rem;
}

.overflow {
    overflow-wrap: break-word;
}

#chatInput {
    padding: 5px;
    padding-left: 20px;
    width: 100%;
    border: none;
    border-radius: 25px;
    border: 1px solid grey;
    overflow-wrap: break-word;
    resize: none;
}

#chatInput:focus {
    outline: none;
    box-shadow: 0 0 5px 1px var(--light);
}

#sendButton {
    height: 35px;
    width: 35px;
    background-color: var(--primary);
    border-radius: 50px;
}

#messages {
    overflow-y: scroll !important;
    white-space: nowrap;
    margin-bottom: 3rem;
}